<template>
  <v-container class="mt-5">
    <v-layout row wrap>
      <v-col v-if="topNews != null" cols="12" md="8">
        <v-hover v-slot="{ hover }">
          <v-card tile v-on:click="goToDetails(topNews)">
            <v-img
              class="white--text align-end fill-height bottom-gradient"
              :class="{ 'card-hover': hover }"
              height="480px"
              :src="topNews.urlToImage"
              gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
            >
              <FormDialog
                :hover="hover"
                :title="topNews.title"
                :cardIndex="0"
                type="topNews"
              />
              <v-layout class="pa-5">
                <v-flex xs12 md9>
                  <v-btn
                    color="orange"
                    x-small
                    rounded
                    depressed
                    class="white--text ml-4"
                    to="/"
                  >
                    {{ topNews.source.name }}
                  </v-btn>
                  <v-card-title class="display-1 mb-3">
                    {{ topNews.title }}
                  </v-card-title>
                  <v-card-subtitle class="grey--text text--lighten-1"
                    >{{ topNews.description }}
                  </v-card-subtitle>
                </v-flex>
              </v-layout>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
      <v-col v-else cols="12" md="8">
        <v-skeleton-loader type="card, article"></v-skeleton-loader>
      </v-col>
      <v-col cols="12" md="4">
        <TodayNews />
      </v-col>
    </v-layout>

    <v-row wrap v-if="newsList.length > 0">
      <v-col
        cols="12"
        sm="6"
        md="4"
        class="px-xs-0"
        v-for="(news, index) in newsList"
        :key="index"
      >
        <v-hover v-slot="{ hover }">
          <v-card tile flat v-on:click="goToDetails(news)">
            <v-img
              class="white--text align-end fill-height bottom-gradient"
              :class="{ 'card-hover': hover }"
              height="260px"
              :src="news.urlToImage"
              gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
            >
              <FormDialog
                :hover="hover"
                :title="news.title"
                :cardIndex="index"
                type="newsList"
              />
              <v-layout class="">
                <v-flex xs12>
                  <v-btn
                    color="orange"
                    x-small
                    rounded
                    depressed
                    class="white--text ml-4"
                    v-html="news.source.name"
                    to="/"
                  >
                  </v-btn>
                  <v-card-subtitle class="text-subtitle-1" v-html="news.title">
                  </v-card-subtitle>
                </v-flex>
              </v-layout>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
    <v-row wrap v-else>
      <v-col
        cols="12"
        sm="6"
        md="4"
        class="px-xs-0"
        v-for="(news, index) in 15"
        :key="index"
      >
        <v-skeleton-loader type="card, article"></v-skeleton-loader>
      </v-col>
    </v-row>

    <v-row class="mt-10" v-if="recentlyVisitedNews.length > 0">
      <v-col>
        <div class="text-subtitle-2 text-uppercase">Recently Visited</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <RecentlyVisited />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import FormDialog from "@/components/FormDialog";
import RecentlyVisited from "@/components/RecentlyVisited";
import TodayNews from "@/components/TodayNews";

export default {
  name: "Home",
  components: {
    FormDialog,
    RecentlyVisited,
    TodayNews,
  },

  computed: {
    newsList() {
      return this.$store.getters.getNewsList;
    },
    topNews() {
      return this.$store.getters.getTopNews;
    },
    recentlyVisitedNews() {
      return this.$store.getters.getRecentlyVisited;
    },
  },

  mounted() {
    window.scrollTo(0, 0);
    if (this.$store.state.newsList.length === 0) {
      this.$store.dispatch("setNewsList");
    }
  },

  methods: {
    goToDetails(details) {
      this.$store.dispatch("setCurrentNews", details);
      this.$router.push("/news");
    },
  },
};
</script>

<style scoped>
.theme--light.v-btn--active::before {
  opacity: 0;
}

@media (max-width: 600px) {
  .v-application .pa-5 {
    padding: 0 !important;
  }
  .v-application .display-1 {
    font-size: 1.5rem !important;
  }
}
</style>
