<template>
  <div class="news">
    <v-parallax
      height="500"
      :src="currentNews.urlToImage"
      class="image-header mx-n5 mb-10"
    ></v-parallax>
    <v-container>
      <v-layout row wrap>
        <v-col cols="12" md="8">
          <v-btn
            v-if="currentNews.source.name !== ''"
            color="orange"
            x-small
            rounded
            depressed
            class="white--text ml-4"
          >
            {{ currentNews.source.name }}
          </v-btn>
          <v-card-title class="display-1 mb-3">
            {{ currentNews.title }}
          </v-card-title>
          <v-card-subtitle class="grey--text text--lighten-1"
            >{{ currentNews.description }}
          </v-card-subtitle>

          <div class="px-3 mb-4 grey--text text--darken-1">
            <v-layout>
              <div class="d-flex mr-3">
                <v-icon small class="mr-1">mdi-account-outline</v-icon>
                <span class="text-caption d-flex">{{
                  currentNews.author
                }}</span>
              </div>
              <div class="d-flex">
                <v-icon small class="mr-1">mdi-clock-outline</v-icon>
                <span class="text-caption d-flex">{{
                  currentNews.publishedAt
                }}</span>
              </div>
            </v-layout>
          </div>
          <v-card-text>
            {{ currentNews.content.split("…")[0] }}…
            <a class="read-more" :href="currentNews.url" target="_blank">
              Read more
            </a>
          </v-card-text>
        </v-col>
        <v-col cols="12" md="4">
          <TodayNews />
        </v-col>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import TodayNews from "@/components/TodayNews";

export default {
  components: {
    TodayNews,
  },
  data() {
    return {
      newsId: this.$route.params.id,
    };
  },
  computed: {
    currentNews() {
      return this.$store.getters.getCurrentNews;
    },
  },
  mounted() {
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped>
.v-card__title {
  word-break: break-word !important;
}

.container {
  padding: 0;
}

a.read-more {
  text-decoration: initial;
}

@media (max-width: 600px) {
  .image-header {
    height: 300px !important;
  }

  .v-card__title {
    font-size: 1.5rem !important;
    line-height: 1.5;
  }
  .col-12 {
    padding: 20px !important;
  }
  .v-application .ml-4 {
    margin-left: 0 !important;
  }

  .v-card__subtitle,
  .v-card__text,
  .v-card__title {
    padding-left: 0;
    padding-right: 0;
  }

  .v-application .mb-10 {
    margin-bottom: 20px !important;
  }

  .v-application .px-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
