<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="edit-btn mt-3 mr-3"
          :color="transparent"
          v-bind="attrs"
          v-on="on"
          x-small
          icon
          absolute
          to="/"
        >
          <v-icon
            :color="transparent"
            :class="{ 'show-edit-btn': hover || smallDevice }"
          >
            mdi-pencil-outline
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Edit Headline</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-textarea
                  outlined
                  no-resize
                  rows="4"
                  v-model="headline"
                  :error-messages="headlineErrors"
                  :counter="200"
                  label="Headline"
                  required
                  @input="$v.headline.$touch()"
                  @blur="$v.headline.$touch()"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="reset"> Reset </v-btn>
          <v-btn color="blue darken-1" text @click="submit"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  props: ["hover", "title", "cardIndex", "type"],
  mixins: [validationMixin],

  validations: {
    headline: { required, maxLength: maxLength(200) },
  },

  data: (props) => ({
    dialog: false,
    transparent: "rgba(255, 255, 255, 0)",
    headline: props.title,
    newHeadline: {
      text: props.title,
      index: props.cardIndex,
      type: props.type
    },
  }),

  computed: {
    headlineErrors() {
      const errors = [];
      if (!this.$v.headline.$dirty) return errors;
      if (!this.$v.headline.maxLength) {
        errors.push("Headline must be at most 200 characters long");
      }
      if (!this.$v.headline.required) errors.push("Headline is required.");
      return errors;
    },

    smallDevice() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
        case "sm":
        case "md":
          return true;
        default:
          return false;
      }
    },
  },

  methods: {
    submit() {
      this.$v.$touch();
      if (!this.headlineErrors.length) {
        this.newHeadline.text = this.headline;
        this.$store.commit("updateHeadline", this.newHeadline);
        this.dialog = false;
      }
    },
    reset() {
      this.$v.$reset();
      this.headline = this.title;
    },
  },
};
</script>

<style scoped>
.edit-btn {
  top: 0;
  right: 0;
}
.show-edit-btn {
  color: rgba(255, 255, 255, 1) !important;
}
</style>
