<template>
  <nav>
    <v-app-bar flat app class="px-5">
      <v-row>
        <v-flex class="align-center align-self-center">
          <v-app-bar-title class="text-uppercase grey--text">
            <div class="header-title" v-on:click="goToHome">
              <span class="font-weight-light">My</span>
              <span>News</span>
            </div>
          </v-app-bar-title>
        </v-flex>
        <v-spacer />
        <v-autocomplete
          v-model="searchModel"
          :items="searchedResult"
          :loading="isLoading"
          :search-input.sync="search"
          hide-details
          :hide-selected="false"
          item-text="title"
          item-value="url"
          label="Search for a news..."
          solo
          flat
          class="search-bar"
          prepend-inner-icon="mdi-magnify"
          append-icon=""
        >
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-title>
                Search for your favorite
                <strong>News</strong>
              </v-list-item-title>
            </v-list-item>
          </template>
          <template v-slot:item="{ item }">
            <v-list-item-avatar>
              <v-img :src="item.urlToImage"></v-img>
            </v-list-item-avatar>
            <v-list-item-content v-on:click="goToDetails(item)">
              <v-list-item-title v-text="item.title"></v-list-item-title>
              <v-list-item-subtitle
                v-text="item.description"
              ></v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-row>
    </v-app-bar>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      expandSearch: false,
      isLoading: false,
      searchModel: null,
      search: null,
      searchedResult: [],
      newsItemClicked: false,
    };
  },

  methods: {
    goToHome() {
      if (this.$route.path !== "/") this.$router.push("/");
    },
    goToDetails(details) {
      this.newsItemClicked = true;
      this.$store.dispatch("setCurrentNews", details);
      if (this.$route.path !== "/news") {
        this.$router.push("/news");
      } else {
        window.scrollTo(0, 0);
      }
    },
  },

  watch: {
    search(val) {
      // Input minimum 3 characters
      if (!val || (val && val.length < 3) || this.newsItemClicked) {
        this.searchedResult = [];
        this.newsItemClicked = false;
        this.searchModel = null;
        return;
      }
      this.isLoading = true;
      this.$store.dispatch("searchNews", val).then(() => {
        this.searchedResult = this.$store.getters.getSearchedResult;
        this.isLoading = false;
      });
    },
  },
};
</script>

<style scoped>
.header-title {
  cursor: pointer;
}

.v-input {
  max-width: 350px;
}

.v-list-item__subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
