<template>
  <v-slide-group v-model="model" active-class="success" show-arrows multiple>
    <v-slide-item v-for="(news, index) in recentlyVisitedNews" :key="index">
      <v-card class="mx-4" height="273" width="245">
        <v-row class="fill-height" align="center" justify="center">
          <v-hover v-slot="{ hover }">
            <v-card tile flat v-on:click="goToDetails(news)">
              <v-img
                class="white--text align-end fill-height bottom-gradient"
                :class="{ 'card-hover': hover }"
                height="183px"
                :src="news.urlToImage"
                gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
              >
              </v-img>
              <v-layout class="carousel-text-group">
                <v-flex xs12>
                  <v-btn
                    v-if="news.source.name !== ''"
                    color="orange"
                    x-small
                    rounded
                    depressed
                    class="white--text my-3"
                    v-html="news.source.name"
                    to="/"
                  >
                  </v-btn>
                  <div
                    class="text-subtitle-2 headline-text"
                    v-html="news.title"
                  ></div>
                </v-flex>
              </v-layout>
            </v-card>
          </v-hover>
        </v-row>
      </v-card>
    </v-slide-item>
  </v-slide-group>
</template>

<script>
export default {
  computed: {
    recentlyVisitedNews() {
      return this.$store.getters.getRecentlyVisited;
    },
  },
  data: () => ({
    model: [],
  }),
  methods: {
    goToDetails(details) {
      this.$store.dispatch("setCurrentNews", details);
      this.$router.push("/news");
    },
  },
};
</script>

<style scoped>
.headline-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.carousel-text-group {
  height: 115px;
}
</style>
