<template>
  <v-list three-line>
    <v-subheader>Today</v-subheader>
    <div v-if="todayNews.length > 0">
      <template v-for="(item, index) in todayNews">
        <v-list-item-group :key="item.title">
          <v-list-item v-on:click="goToDetails(item)">
            <v-list-item-avatar>
              <v-img :src="item.urlToImage"></v-img>
            </v-list-item-avatar>

            <v-list-item-content :class="{ 'border-bottom': index != 3 }">
              <v-list-item-title v-html="item.title"></v-list-item-title>
              <v-list-item-subtitle
                v-html="item.description"
              ></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </template>
    </div>
    <div v-else>
      <template v-for="item in 4">
        <v-skeleton-loader
          type="list-item-avatar-three-line"
          :key="item.title"
        ></v-skeleton-loader>
      </template>
    </div>
  </v-list>
</template>

<script>
export default {
  name: "TodayNews",

  computed: {
    todayNews() {
      return this.$store.getters.getTodayNews;
    },
  },

  methods: {
    goToDetails(details) {
      this.$store.dispatch("setCurrentNews", details);
      if (this.$route.path !== "/news") {
        this.$router.push("/news");
      } else {
        window.scrollTo(0, 0);
      }
    },
  },
};
</script>

<style scoped>
.theme--light.v-list-item--active:hover::before,
.theme--light.v-list-item--active::before {
  opacity: 0;
}
</style>
