<template>
  <v-app>
    <Navbar />
    <v-main class="mx-5 mb-9">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar";

export default {
  name: "App",
  components: {
    Navbar,
  },
  data: () => ({
    //
  }),
};
</script>

<style>
.v-card .v-card__title {
  word-break: break-word;
}

.v-list .v-list-item__title,
.v-list .v-list-item__subtitle {
  white-space: pre-wrap;
}

.v-list .v-avatar.v-list-item__avatar {
  height: 70px !important;
  min-width: 70px !important;
  width: 70px !important;
  border-radius: 0;
}

.v-list .v-subheader {
  height: auto;
}

.v-card,
.v-list-item,
.v-image__image,
.v-card .headline-text {
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.v-slide-group.v-item-group > .v-slide-group__next,
.v-slide-group.v-item-group > .v-slide-group__prev {
  border: 1px solid #e9ecef;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.v-slide-group.v-item-group > .v-slide-group__next:hover,
.v-slide-group.v-item-group > .v-slide-group__prev:hover {
  background-color: #f5f5f5;
}

.card-hover .v-image__image {
  transform: scale(1.05);
}

.v-card .headline-text:hover {
  color: #818181;
}

.v-application--is-ltr .v-divider--inset:not(.v-divider--vertical) {
  margin-left: 102px !important;
}

.v-divider--inset:not(.v-divider--vertical) {
  max-width: calc(100% - 102px) !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.v-menu__content {
  max-width: 350px;
}

.v-text-field.v-text-field--solo .v-label,
.v-text-field.v-text-field--solo .v-input__control input {
  left: 10px !important;
  padding-right: 10px !important;
}

@media (max-width: 1264px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .v-application main.mx-5 {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
  .v-subheader,
  .v-list-item {
    padding: 0 !important;
  }

  .v-application--is-ltr .v-divider--inset:not(.v-divider--vertical) {
    margin-left: 98px !important;
  }

  .v-divider--inset:not(.v-divider--vertical) {
    max-width: calc(100% - 98px) !important;
  }

  .v-slide-group__prev,
  .v-slide-group__next {
    display: none !important;
  }
}
</style>
